<sck-wrapper>
    <div class="bg-img" [style.background-image]="'url(' + bgImgUrl + ')'">
        <div class="bg-gradient">

            <div class="title-wrapper">
                <div class="text-wrapper text-h4"><h4 class="text font-size_14px font-weight_bold color_white letter-spacing_large">{{textH4}}</h4></div>
                <div class="text-wrapper text-h1"><h1 class="text font-size_72px font-weight_bold color_white letter-spacing_narrow">{{textH1}}</h1></div>
                <div class="text-wrapper text-h2"><h2 class="text font-size_24px font-weight_normal color_white">{{textH2}}</h2></div>
            </div>

        </div>
    </div>
</sck-wrapper>