@import "~@angular/material/theming";
@import "simply-component-kit.mixin-base";

//#region CSS Grid
$grid-y: 8px;
$grid-x: 8px;
$grid-column: $grid-x*3;
$grid-row: $grid-y*3;
$grid-card-width: $grid-column*13;

@mixin grid-column($number: 1) {
  width: $grid-card-width*$number;
  box-sizing: border-box;
}
//#endregion

$theme: mat-light-theme(mat-palette($mat-deep-orange, 300, 50, 500), mat-palette($mat-indigo), mat-palette($mat-red));
$typography: mat-typography-config();

//#region Colors DEPRECATED!
$colors: (
        'white': hsl(0,100,100),
        'black': hsl(0,0,0),
        'primary-text': hsl(0,0,0)
);

//#endregion

//#region Fonts DEPRECATED!
$font-sizes: (
 // size 2560px 1200px 960px 640px 480px 320px
  '13px': (13px, 13px, 12px, 12px, 10px, 10px)
);

$font-weights: (
        'bold': 600,
        'normal': 300
);

$letter-spacings: (
        'narrow': 0.5px,
        'normal': 1px,
        'large': 3px
);
//#endregion

//#region Init settings
html, body {
  width: 100%;
  height: 100%;
  color: map_get($colors, 'black');
  font-weight: map_get($font-weights, 'normal');
}
body {

  span, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    //line-height: calc(1.1em + 0.5vw);
  }
}
//#endregion