:host(sck-text-header-th64) {
  display: inline-block;
  width: 100%;
}

.text-h4 {
  padding-top: 10px;
  padding-bottom: 40px;
}
.text-h2 {
  padding-top: 8px;
  padding-bottom: 3px;
}
.description {
  padding-top: 41px;
}