<sck-wrapper>
    <div class="wrapper" [style.width.px]="canvas.width" [style.height.px]="canvas.height">
        <div *ngFor="let photo of canvas.photos"
             [style.width.px]="photo.width"
             [style.height.px]="photo.height"
             [style.left.px]="photo.x"
             [style.top.px]="photo.y"

             class="img-wrapper"
        >

            <img src="/assets/{{imgLocation}}/{{photo.src}}"
                 [style.width.px]="photo.width - 10"
                 [style.height.px]="photo.height - 10"
            />

            <div class="zoom-wrapper">
                <div class="zoom-icon"></div>
            </div>
        </div>

        <div class="more-btn-wrapper" id="gallery-more-btn-wrapper">
            <button md-raised-button class="button more-photo background-color_grey_light" (click)="moreBtnClick()">Еще фотографии</button>
        </div>
    </div>
</sck-wrapper>