<sck-wrapper [marginRightScale]="0" [marginLeftScale]="0">
    <div class="wrapper" [style.width.px]="canvas?.width" [style.height.px]="canvas?.height">
        <div *ngFor="let photo of canvas?.photos"
             [style.width.px]="photo.width"
             [style.height.px]="photo.height"
             [style.left.px]="photo.x"
             [style.top.px]="photo.y"

             class="img-wrapper"
        >

            <sck-img
                 [src]="assetsLocation + imgLocationMin+ '/' + photo.src"
                 [isScale]="false"
            ></sck-img>

            <div class="zoom-wrapper" (click)="imgClick(photo)">
                <md-icon class="zoom-icon md-48" aria-label="Закрыть окно">zoom_in</md-icon>
            </div>
        </div>

        <div class="more-btn-wrapper">
            <button md-raised-button class="button" (click)="moreBtnClick($event)">{{buttonText}}</button>
        </div>
    </div>
</sck-wrapper>

<div #photoPreviewWrapper class="photo-preview-wrapper" [hidden]="!isShowPhotoPreview">
    <sck-img *ngIf="isShowPhotoPreview" [src]="assetsLocation + imgLocationBig + '/' + selectedPhoto.src" [isScale]="'true'" class="photo-wrapper"></sck-img>
</div>