//#region CSS Grid
$grid-y: 8px;
$grid-x: 8px;
$grid-column: $grid-x*4;
$grid-row: $grid-y*4;
@mixin grid-column($number: 1) {
  width: $grid-column*$number;
}
//#endregion

//#region Fonts
$font-size-h4-landing_1920: 14px;
$font-size-h1-landing_1920: 72px;
$font-size-h2-landing_1920: 24px;

$font-size-h4-landing_1200: 14px;
$font-size-h1-landing_1200: 68px;
$font-size-h2-landing_1200: 22px;

$font-size-h4-landing_980: 14px;
$font-size-h1-landing_980: 68px;
$font-size-h2-landing_980: 22px;

$font-size-h4-landing_640: 10px;
$font-size-h1-landing_640: 32px;
$font-size-h2-landing_640: 14px;

$font-size-h4-landing_480: 10px;
$font-size-h1-landing_480: 30px;
$font-size-h2-landing_480: 14px;

$font-size-h4-landing_320: 10px;
$font-size-h1-landing_320: 30px;
$font-size-h2-landing_320: 14px;
//#endregion


//#region Colors
$black1: hsl(0,0,0);
$black2: hsl(0,0,50);
$black3: hsl(0,0,90);
$black4: hsl(0,0,98);
//#endregion


// Buttons
@mixin button() {
  cursor: pointer;
}

//#region Init settings
html, body {
  width: 100%;
  height: 100%;
}
body {

  div, span, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    line-height: calc(1.1em + 0.5vw);
  }
}

h1.landing {
  font-size: $font-size-h1-landing_1920;
}
h2.landing {
  font-size: $font-size-h2-landing_1920;
}
h4.landing {
  font-size: $font-size-h4-landing_1920;
}

//#region Media queries
@media screen and (max-width: 1200px) {
  h1.landing {
    font-size: $font-size-h1-landing_1200;
  }
  h2.landing {
    font-size: $font-size-h2-landing_1200;
  }
  h4.landing {
    font-size: $font-size-h4-landing_1200;
  }
}
@media screen and (max-width: 980px) {
  h1.landing {
    font-size: $font-size-h1-landing_980;
  }
  h2.landing {
    font-size: $font-size-h2-landing_980;
  }
  h4.landing {
    font-size: $font-size-h4-landing_980;
  }
}
@media screen and (max-width: 640px) {
  h1.landing {
    font-size: $font-size-h1-landing_640;
  }
  h2.landing {
    font-size: $font-size-h2-landing_640;
  }
  h4.landing {
    font-size: $font-size-h4-landing_640;
  }
}
@media screen and (max-width: 480px) {
  h1.landing {
    font-size: $font-size-h1-landing_480;
  }
  h2.landing {
    font-size: $font-size-h2-landing_480;
  }
  h4.landing {
    font-size: $font-size-h4-landing_480;
  }
}
@media screen and (max-width: 320px) {
  h1.landing {
    font-size: $font-size-h1-landing_320;
  }
  h2.landing {
    font-size: $font-size-h2-landing_320;
  }
  h4.landing {
    font-size: $font-size-h4-landing_320;
  }
}
//#endregion

//#endregion