//#region CSS Grid
$grid-y: 8px;
$grid-x: 8px;
$grid-column: $grid-x*4;
$grid-row: $grid-y*4;
@mixin grid-column($number: 1) {
  width: $grid-column*$number;
}
//#endregion

@function map_merge_distinct($map1, $map2) {
  $map: $map2;

  @each $key in map_keys($map2) {
    @if map_has_key($map1, $key) {
      $map: map_remove($map, $key);
    }
  }

  $map1: map_merge($map1, $map);

  @return $map1;
}

//#region Colors
$colors: (
        'black': hsl(0,0,0),
        'grey_normal': hsl(0,0,50),
        'grey_light': hsl(0,0,90),
        'grey_light2': hsl(0,0,98),
        'white': hsl(0,100,100)
);
//#endregion

//#region Fonts
$font-sizes: (
  '13px': (13px, 13px, 12px, 12px, 10px, 10px)
);

$font-weights: (
        'bold': 600,
        'normal': 300
);

$letter-spacings: (
        'narrow': 0.5px,
        'normal': 1px,
        'large': 3px
);

@mixin font-size($sizes, $self: false) {
  $selector: '';
  @if ($self == true) {
    $selector: '&';
  }
  @else {
    $selector: '.font-size_#{nth($sizes, 1)}';
  }

  #{$selector} {

    $resolution: null;
    @for $i from 1 through length($sizes) {
      @if ($i == 1) {
        $resolution: 2560px;
      }
      @if ($i == 2) {
        $resolution: 1200px;
      }
      @if ($i == 3) {
        $resolution: 980px;
      }
      @if ($i == 4) {
        $resolution: 640px;
      }
      @if ($i == 5) {
        $resolution: 480px;
      }
      @if ($i == 6) {
        $resolution: 320px;
      }

      @media screen and (max-width: $resolution) {
        font-size: nth($sizes, $i);
      }
    }
  }
}

@mixin letter-spacing($spacing-name) {
  .letter-spacing_#{$spacing-name} {
    letter-spacing: map_get($letter-spacings, $spacing-name);
  }
}

@mixin font-weight($weight-name) {
  .font-weight_#{$weight-name} {
    font-weight: map_get($font-weights, $weight-name);
  }
}

@mixin font-color($color-name) {
  .color_#{$color-name} {
    color: map_get($colors, $color-name);
  }
}

@mixin background-color($color-name) {
  .background-color_#{$color-name} {
    background-color: map_get($colors, $color-name);
  }
}
//#endregion


// Buttons
@mixin button() {
  cursor: pointer;
}

//#region Init settings
html, body {
  width: 100%;
  height: 100%;
  color: map_get($colors, 'black');
  font-weight: map_get($font-weights, 'normal');
}
body {

  div, span, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    line-height: calc(1.1em + 0.5vw);
  }
}
//#endregion

//#endregion